.mainImageWrapper {
    width: 650px;
    height: 430px;
    padding-top: 100%;
}

.mainImageWrapper,
.thumbnailWrapper {
    position: relative;
    border-radius: 32px;
    background-color: white;
    overflow: hidden;
}

.mainImage,
.thumbnail {
    object-fit: contain;
}

.thumbnailWrapper {
    height: 155px;
    flex: 1 1 150px;
    border: 2px solid transparent;
    cursor: pointer;
    transition:
        border 0.2s ease,
        transform 0.2s ease;

    &:hover {
        transform: scale(1.05);
        border-color: #ccc;
    }
}

.active {
    border-color: #0070f3;
}

.minimizedMain {
    width: 420px;
    height: 360px;
    border-radius: 16px;
    padding-top: 0 !important;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.minimizedMainImage {
    object-fit: contain;
}

.minimizedThumbWrapper {
    width: 60px;
    height: 60px;
    border-radius: 12px;
}

.minimizedThumbnail {
    object-fit: contain;
}
