@import '../../../../shared/styles/variables.scss';

.content {
    background: #fff;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 28px;

    @media (min-width: $mantine-breakpoint-md) {
        min-width: 800px;
    }
}
