@import '../../../../shared/styles/variables.scss';

.content {
    position: fixed;
    top: 32px;
    left: 4.45vw;
    right: 4.45vw;
    height: 78vh;
    max-height: 78vh;
    background: #ffffff66;
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 28px;

    @media (min-width: $mantine-breakpoint-lg) {
        top: 64px;
    }
}

.header {
    background: transparent;
    border: none;
}

.overlay {
    background: transparent;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}
